<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :grossincome, 'Gross Income', style: "display: block" %><br>
    <%= form.text_field :grossincome, class:"form-control", placeholder: "Enter your gross income", required: true %>
  </div>

  <br>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
