<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-6">
    <br>
    <%= image_tag('taximg.jpg') %>
  </div>


  <div class="col-md-6" style="background-color: lightblue;border-radius: 25px;height: 210px;">
  <div class="field form-group" style=""><br>
    <%= form.label :grossincome, 'Gross Income', style: "display: block; font-size: 20px;" %><br>
    <%= form.text_field :grossincome, class:"form-control", placeholder: "Enter your gross income", required: true %>
  </div>

  <div >
    <br>
        <%= form.submit class:"btn btn-primary" %>
   </div>


  </div>

  </div>
  


<% end %>
