<div id="<%= dom_id tax %>">
  <p>
    <strong>Grossincome:</strong>
    <%= tax.grossincome %>
  </p>

  <p>
    <strong>Taxdeduction:</strong>
    <%= tax.taxdeduction %>
  </p>

  <p>
    <strong>Epfdeduction:</strong>
    <%= tax.epfdeduction %>
  </p>

  <p>
    <strong>Employerepfcontribution:</strong>
    <%= tax.employerepfcontribution %>
  </p>

  <p>
    <strong>Netincome:</strong>
    <%= tax.netincome %>
  </p>

</div>
